@model IEnumerable<Appsuggest.Models.Config>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Ayarlar";
}


<p>
    @Html.ActionLink("Yeni kayıt oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Detayları", "Edit", new {  name=item.Name,value=item.Value  }) |
            @Html.ActionLink("Detayları", "Details", new {  name=item.Name,value=item.Value  }) |
            @Html.ActionLink("Sil", "Delete", new { name = item.Name, value = item.Value })
        </td>
    </tr>
}

</table>
