

.search-box {
    /*width: 100%;*/
    position: relative;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 4px solid #111d5e;
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: none;
    font-size: 15px;
    color: #111d5e;
    background: none;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.search-toggles {
    padding: 10px;
    border: 4px solid #111d5e;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    color: #111d5e;
    background: none;
    margin: 2px;
}

.search-button {
    text-align: center;
    height: 51px;
    width: 40px;
    outline: none;
    cursor: pointer;
    border: 4px solid #111d5e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 4px solid #111d5e;
    margin-top: 2px;
    margin-bottom: 2px;
}
.clickable {
    cursor: pointer;
    background: #fff;
}

.clickable {
    transition: box-shadow .3s;
   
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
}

.clickable:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}